.productCard {
  align-items: center;
  box-shadow: 1px 1px 5px black;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 400px;
  margin: 10px 20px;
  width: 30%;
}

.productCard:hover {
  box-shadow: 1px 1px 10px lightskyblue;
}

.productCard a {
  font-size: 18px;
  text-decoration: none;
  width: 90%;
  margin: 10px 0;
}

.productCard img {
  flex-basis: 100%;
  justify-self: center;
  max-width: 150px;
}

.productCard button {
  border: none;
  background-color: rgb(118, 181, 206);
  padding: 10px 0;
  width: 100%;
}

.productCard button:hover {
  background-color: lightskyblue;
}

.productCard p {
  font-size: 15px;
  margin-top: 30px;
}
